body{
    background-color: rgb(252, 236, 239);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body input{
    outline: none;
}
#navbar{
    background-color: white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 80px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu{
    width: 40%;
    margin-left: 4%;
    cursor: pointer;
}
#menu a{
    display: flex;
    align-items: center;
    color: rgb(7, 3, 32);
    font-weight: 650;
    font-size: 12px;
}
#menuDetail{
    display: flex;
    margin-left: 12%;
    gap: 35px;
}
#img{
    width: 10%;
    align-self: center;
}
#searchBox{
    display: flex;
    margin-left: 9%;
    width: 30%;
    background-color: #f5f5f6;
    height: 50%;
    align-items: center;
    border-radius: 3px;
}
#searchBox img{
    width: 4%;
    margin: 4%;
}
#search {
    width: 100%;
    border: none;
    background-color: #f5f5f6;
}
#profile{
    margin-right: 4%;
    display: flex;
    justify-content: space-around;
    height: 40px;
}
#acc{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-left: 15px;
}
a{
    text-decoration: none;
}
#wish{
    height: 25px !important;
    margin-left: 8px;
}
#bag{
    height: 20px;
}
#p1{
    margin-top: -2px;
    font-size: small;
    color: black;
    font-weight: 600;
}
#p2{
    margin-top: 2px;
    font-size: small;
    color: black;
    font-weight: 600; 
}
#main_box{
    margin-top: 8%;
    width: 30%;
    height: 530px;
    margin-left: 35%;
    background-color: white;
}
#otpPage{
    width: 100%;
    height: 530px;
}
#otpImg img{
    width: 24%;
    margin-top: 15%;
    margin-left: 15%;
}
#otp{
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}
#digits{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    gap: 15px;
}
#digits input{
    width: 100%;
    height: 35px;
    text-align: center;
}
#resend{
    border: none;
    color: rgb(16, 5, 41);
    font-weight: 600;
    background-color: white;
    margin-top: 10%;
}
h4{
    color: rgb(241, 9, 48);;
}
h5{
    color: rgb(165, 157, 157);
}
h5 span{
    color: rgb(248, 63, 94);
}
@media only screen and (max-width: 500px) {
    #main_container{
        display: none;
    }
    #main_box{
        margin-left: 0%;
        margin-top: 0%;
        width: 100%;
    }
}